.navbar{
    background-color: #003580;
    height: 50px;
    display: flex;
    justify-content: center;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: 500;
}

.navButton{
    padding: 10px;
        color: white;
        font-weight: 600;
        background-color: #0071c2;
        border-radius: 1px;
        border: none;
        cursor: pointer;
        margin-left: 5px;
    }
    
 