.headerType {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}
.headerDesc {
    margin: 20px 0;
}

.headerBtn {
    padding: 10px;
    color: white;
    font-size: medium;
    font-weight: 600;
    background-color: #0071c2;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}

.headerBtn:hover {
    background-color: #175b8b;
    transition: 0.1s;

}

.headerSearch {
    height: 30px;
    background-color: white;
    display: flex;
    gap: 10px;
    border: 3px solid #febb02;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 8px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}

.headerSearchItem {
    display: flex;
    gap: 10px;
    align-items: center;

}

.headerIcon {
    color: lightgray;
}

.headerSearchInput {
    border: none;
    outline: none;
}

.headerSearchText {
    color: lightgray;
    cursor: pointer;
}

.date {
    position: absolute;
    top: 52px;

}

.options {
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4)
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter {
    display: flex;
    gap: 8px;
    font-size: 12px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    background-color: white;
    cursor: pointer;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}